<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>WatchMe</title>  
	<link rel="stylesheet" href="../css/loginstyle.css">  
</head>

<body>
	<div class="container">
	    <form id="contact">
		
	      <fieldset>
	        Choose crime category
	         <select>
			  <option value="Accident">Accident</option>
			  <option value="Theft Case">Theft Case</option>
			  <option value="Road rules">Road Rules</option>
			</select> 
	      </fieldset> 
		      <fieldset>
		       Please enter the description 
		      <textarea type="text" id="description" name="uname" rows="4" cols="50">
	           </textarea> 
	           </fieldset>
		<button type="button" id="button">Upload picture</button><br><br>
		

		<button name="login" type="button" id="loginSubmit" data-submit="...Sending">Submit</button>
		</form>
	
	</div>
    <script type="text/javascript" src="../js/myscript.js"></script>  
</body>
</html>


